.logout-btn {
  background: #ff4747;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 95%;
  padding: 10px;
  background: #1e1e2f;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

